* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #454545;
  color: #808080;
  --webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
