.mainProfile {
  width: 100%;
  display: flex;
  margin-left: 20px;
  gap: 100px;
}

@media (max-width: 375px) {
  .mainProfile {
    display: flex;
    margin-left:0;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }

}
